//background color
$bg-color: #3c0090;

//text color 
$text-color: #cca8ff;

//accent color
$accent: #a142ff;

//margin standard
$margin: 40px;
$margin-sm: 20px;
$margin-top: 50px;

//navbar padding standards
$navbar-py: 5px;
$navbar-px: 5px;
